<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>1</string>
			<key>description</key>
			<string>髮尖有癦痣，多少年運不佳，且為人不孝順，安於現狀，不願親近賢達。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>2</string>
			<key>description</key>
			<string>額中央為之天庭，天庭有癦痣，難有貴人扶持，與上司、長輩相處不佳。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>3</string>
			<key>description</key>
			<string>印堂有癦痣，欠缺周詳思考力，爲人魯莽，易犯官非，且錢財及愛侶易為他人所奪，易起三角戀愛。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>4</string>
			<key>description</key>
			<string>印堂，欠缺周詳思考力，易魯莽。且錢財及愛侶易為他人所奪，易起三角戀愛，名叫「二龍爭珠」。但如紅色的卻表示有大慈悲心腸，有大智慧，佛教古佛像中很多有此標誌，很多印籍人士亦喜歡塗上此種標誌。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>5</string>
			<key>description</key>
			<string>眉毛上方有癦痣，易因受親友連累而吃虧。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>5a</string>
			<key>description</key>
			<string>眉毛上方有癦痣，代表此人性格剛烈硬朗，易與人爭執。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>6</string>
			<key>description</key>
			<string>眉毛內有癦痣，主聰明，才藝超群，富貴。有貴子，左眉內有癦痣易生男孩。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>7</string>
			<key>description</key>
			<string>眼皮上有癦痣，大多胸部亦會有痣，如為女性的話，基於輔養關係，易出孝順子女。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>8</string>
			<key>description</key>
			<string>鼻樑有癦痣，主經濟困難，生意上易遭滑鐵盧之失敗。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>9</string>
			<key>description</key>
			<string>鼻頭有癦痣，呼吸系統易有毛病，一生容易破財。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>10</string>
			<key>description</key>
			<string>人中有癦痣，子女難求或子孫運薄弱，女性則易有婦女病。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>11</string>
			<key>description</key>
			<string>鼻樑兩側有癦痣，勞苦之命，難有安逸生活。且大多幼時身體多病，要長期服藥，或有一場大病，要急病投醫。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>12</string>
			<key>description</key>
			<string>嘴角有癦痣，會招來跟飲食有闋的災危，且易惹桃花，女性又名風騷癦。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>13</string>
			<key>description</key>
			<string>眼下有癦痣，為子女操心辛勞，或無緣，子女會有所刑剋，左邊有癦痣刑剋男性後輩。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>14</string>
			<key>description</key>
			<string>唇下有癦痣，易因飲食招食物中毒，子女運薄弱，晚年易孤獨。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>15</string>
			<key>description</key>
			<string>下巴有癦痣，居所經常變動， 生活不安定，但能白手興家，晚年良佳， 叫「海底沉珠」，己故毛澤東便有此癦。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>16</string>
			<key>description</key>
			<string>上下唇有癦痣，注意飲食及色難，重肉慾，說話虛偽，易惹是非。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>17</string>
			<key>description</key>
			<string>顴骨上有癦痣，權力受損，亦要小心車禍，易有交通意外。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>18</string>
			<key>description</key>
			<string>額角左邊為日角，日角有癦痣與父無緣。長期在外國旅行者， 要特別小心。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>19</string>
			<key>description</key>
			<string>眼尾奸門部位， 夫妻刑剋；未見有此痣而婚姻同借自首之例子。男子右邊有癦，妻子腰脊易酸痛。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>20</string>
			<key>description</key>
			<string>山根有癦痣，命運多波折，家庭不安穩，且需防色難，感情運不佳，婚姻十九有問題。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>21</string>
			<key>description</key>
			<string>法令有癦痣，手腳易有意外。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>22</string>
			<key>description</key>
			<string>鬢角有癦痣，旅行中易遇險。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>23</string>
			<key>description</key>
			<string>耳上有癦痣，性孝義，亦有孝順之子女，多生貴子，是爲吉痣。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>6a</string>
			<key>description</key>
			<string>眉內有有癦痣，代表其人善長文藝，品格高尚；若是黑痣，其人必有智謀；右眉內有癦痣易生女孩。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>7a</string>
			<key>description</key>
			<string>眼皮上有癦痣，大多胸部亦會有痣，如為女性的話，基於輔養關係，易出孝順子女。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>18a</string>
			<key>description</key>
			<string>額角右邊為月角，月角有癦痣與母無緣。長期在外國旅行者， 要特別小心。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>13a</string>
			<key>description</key>
			<string>眼下有癦痣，會因色情而惹上麻煩，右邊有癦痣刑剋女性後輩。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>11a</string>
			<key>description</key>
			<string>鼻樑兩邊，及年上壽上之位置，與第8之位置接近的位置，為疾厄宮。書云病難之相，即是幼時身體多病，要長期服藥，或有一場大病，要急病亂投醫。何知歌說﹒「何知人家服毒藥，但看年壽黑于惡」便是此意。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>17a</string>
			<key>description</key>
			<string>顴骨上有癦痣，容易受人拖累，信用受損，且易有三角關係或橫刀奪愛等事發生。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>21a</string>
			<key>description</key>
			<string>法令有癦痣，小心水厄。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>12a</string>
			<key>description</key>
			<string>口角過，會招來跟飲食有闋的災危，且易惹桃花，女性又名風騷癒。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>15a</string>
			<key>description</key>
			<string>下巴有癦痣，居所經常變動， 生活不安定，但能白手興家，晚年良佳， 叫「海底沉珠」，己故毛澤東便有此癦。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>22a</string>
			<key>description</key>
			<string>鬢角有癦痣，旅行中易遇險。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>19a</string>
			<key>description</key>
			<string>眼尾奸門部位有癦痣，易受情色糾紛，婚姻運也較多波折。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>23a</string>
			<key>description</key>
			<string>倘若耳孔之內有癦痣，主其人容易生病。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>23</string>
			<key>description</key>
			<string>耳上，性孝義，亦有孝順之子女，吉痣。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>15c</string>
			<key>description</key>
			<string>下巴有癦痣，居所經常變動， 生活不安定，但能白手興家，晚年良佳， 叫「海底沉珠」，己故毛澤東便有此癦。</string>
		</dict>
	</array>
</dict>
</plist>
