<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>1</string>
			<key>description</key>
			<string>跟上司、長章、雙親、無緣或無法和諧相處，且父親易身體不吉，多病多災。因為額為上庭，為官祿宮，為上級長輩的所表彰位置。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>2</string>
			<key>description</key>
			<string>跟上司、長章、雙親、無緣或無法和諧相處，且父親易身體不吉，多病多災。因為額為上庭，為官祿宮，為上級長輩的所表彰位置。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>3</string>
			<key>description</key>
			<string>跟上司、長章、雙親、無緣或無法和諧相處，且父親易身體不吉，多病多災。因為額為上庭，為官祿宮，為上級長輩的所表彰位置。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>4</string>
			<key>description</key>
			<string>印堂，欠缺周詳思考力，易魯莽。且錢財及愛侶易為他人所奪，易起三角戀愛，名叫「二龍爭珠」。但如紅色的卻表示有大慈悲心腸，有大智慧，佛教古佛像中很多有此標誌，很多印籍人士亦喜歡塗上此種標誌。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>5</string>
			<key>description</key>
			<string>眉毛上方，因受親友連累而吃虧，且此人性格剛烈硬朗，相書說「眉上有瘟者，性剛!」</string>
		</dict>
		<dict>
			<key>name</key>
			<string>5a</string>
			<key>description</key>
			<string>眉毛上方，因受親友連累而吃虧，且此人性格剛烈硬朗，相書說「眉上有瘟者，性剛!」</string>
		</dict>
		<dict>
			<key>name</key>
			<string>6</string>
			<key>description</key>
			<string>眉毛內，主聰明，才藝超群，富貴。且有貴子，左為子，右為女，名貴子塵。又名禾桿叮珍珠，以色豔者為是。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>7</string>
			<key>description</key>
			<string>皮上，此人胸部亦會有痣，如為女性的話，基於輔養關係，亦出孝順子女。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>8</string>
			<key>description</key>
			<string>鼻樑上，主經濟困難，且防色難。即說每攪色情事件都有難，如為突出之塵，婚姻十九有問題。鼻子，因為妻星，女為星之故。又因為十二宮中屬財串宮，所以生意上易遭滑鐵盧之失敗。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>9</string>
			<key>description</key>
			<string>亦主色難，且呼吸系統有毛病。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>10</string>
			<key>description</key>
			<string>人中管子女，故子女刑剋，子孫運薄弱。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>11</string>
			<key>description</key>
			<string>鼻樑兩邊，及年上壽上之位置，與第8之位置接近的位置，為疾厄宮。書云病難之相，即是幼時身體多病，要長期服藥，或有一場大病，要急病亂投醫。何知歌說﹒「何知人家服毒藥，但看年壽黑于惡」便是此意。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>12</string>
			<key>description</key>
			<string>口角過，會招來跟飲食有闋的災危，且易惹桃花，女性又名風騷癒。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>13</string>
			<key>description</key>
			<string>眼下，為于女操心辛勞，或無緣，子女會有所刑剋o 左為男，右為女。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>14</string>
			<key>description</key>
			<string>唇下，會因飲食招食物中毒，但有酒量， 就算平常不飲酒的人士， 偶然乾杯亦不易醉倒。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>15</string>
			<key>description</key>
			<string>下扎，居所經常變動， 生活不安定，但晚年良佳， 叫「海底沉珠」。己故毛澤東便有此塵。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>16</string>
			<key>description</key>
			<string>上下唇，注意飲食及色難， 男女上唇有瘟癒者， 婚姻多不美滿。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>17</string>
			<key>description</key>
			<string>顧骨上， 恐怕喪失所握之權力及地位， 亦要小心車禍，易有交通意外。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>18</string>
			<key>description</key>
			<string>額角、長期在國外旅行者， 要特別小心。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>19</string>
			<key>description</key>
			<string>眼尾奸門部位， 夫妻刑剋；未見有此痣而婚姻同借自首之例子。男子右邊有癦，妻子腰脊易酸痛。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>20</string>
			<key>description</key>
			<string>兩眼之間，夫再娶，婦再嫁。且有腸胃病。凶。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>21</string>
			<key>description</key>
			<string>法令， 腳部易傷患， 且防水厄。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>22</string>
			<key>description</key>
			<string>鬢角，旅行中易遇險。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>23</string>
			<key>description</key>
			<string>耳上，性孝義，亦有孝順之子女，吉痣。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>6a</string>
			<key>description</key>
			<string>眉毛內，主聰明，才藝超群，富貴。且有貴子，左為子，右為女，名貴子塵。又名禾桿叮珍珠，以色豔者為是。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>7a</string>
			<key>description</key>
			<string>眼皮上，此人胸部亦會有痣，如為女性的話，基於輔養關係，亦出孝順子女。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>18a</string>
			<key>description</key>
			<string>額角、長期在國外旅行者， 要特別小心。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>13a</string>
			<key>description</key>
			<string>眼下，為于女操心辛勞，或無緣，子女會有所刑剋o 左為男，右為女。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>11a</string>
			<key>description</key>
			<string>鼻樑兩邊，及年上壽上之位置，與第8之位置接近的位置，為疾厄宮。書云病難之相，即是幼時身體多病，要長期服藥，或有一場大病，要急病亂投醫。何知歌說﹒「何知人家服毒藥，但看年壽黑于惡」便是此意。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>17a</string>
			<key>description</key>
			<string>顧骨上， 恐怕喪失所握之權力及地位， 亦要小心車禍，易有交通意外。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>21a</string>
			<key>description</key>
			<string>法令， 腳部易傷患， 且防水厄。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>12a</string>
			<key>description</key>
			<string>口角過，會招來跟飲食有闋的災危，且易惹桃花，女性又名風騷癒。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>15a</string>
			<key>description</key>
			<string>下扎，居所經常變動， 生活不安定，但晚年良佳， 叫「海底沉珠」。己故毛澤東便有此塵。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>22a</string>
			<key>description</key>
			<string>鬢角，旅行中易遇險。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>19a</string>
			<key>description</key>
			<string>眼尾奸門部位， 夫妻刑剋；未見有此痣而婚姻同借自首之例子。男子右邊有癦，妻子腰脊易酸痛。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>23a</string>
			<key>description</key>
			<string>耳上，性孝義，亦有孝順之子女，吉痣。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>23</string>
			<key>description</key>
			<string>耳上，性孝義，亦有孝順之子女，吉痣。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>15c</string>
			<key>description</key>
			<string>下扎，居所經常變動， 生活不安定，但晚年良佳， 叫「海底沉珠」。己故毛澤東便有此塵。</string>
		</dict>
	</array>
</dict>
</plist>
